<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="MenuSettings" type="System.Configuration.NameValueSectionHandler"/>
		<section name="SubMenuSettings" type="System.Configuration.NameValueSectionHandler"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="mcbtn" value="MC" />
		<add key="mrbtn" value="MR" />
		<add key="mstn" value="MS" />
		<add key="mPlusbtn" value="M+" />
		<add key="mMinusbtn" value="M-" />
		<add key="escapeBtn" value="←" />
		<add key="CeBtn" value="CE" />
		<add key="cBtn" value="C" />
		<add key="plusMinusBtn" value="±" />
		<add key="rootBtn" value="√" />
		<add key="oneBtn" value="1" />
		<add key="twoBtn" value="2" />
		<add key="threeBtn" value="3" />
		<add key="divBtn" value="/" />
		<add key="modBtn" value="%" />
		<add key="fourBtn" value="4" />
		<add key="fiveBtn" value="5" />
		<add key="sixBtn" value="6" />
		<add key="mulBtn" value="*" />
		<add key="oneDivXBtn" value="1/x" />
		<add key="sevenBtn" value="7" />
		<add key="eightBtn" value="8" />
		<add key="nineBtn" value="9" />
		<add key="minusBtn" value="-" />
		<add key="equalBtn" value="=" />
		<add key="zeroBtn" value="0" />
		<add key="dotBtn" value="." />
		<add key="plusBtn" value="+" />
	</appSettings>

	<MenuSettings>
		<add key="fileToolStripMenuItem" value="File"/>
		<add key="editToolStripMenuItem" value="Edit"/>
		<add key="exitToolStripMenuItem1" value="Exit"/>
		<add key="helpToolStripMenuItem" value="Help"/>
	</MenuSettings>

	<SubMenuSettings>
		<add key="standardToolStripMenuItem" value="standardItem"/>
		<add key="scienctificToolStripMenuItem" value="scientificItem"/>
		<add key="copyToolStripMenuItem" value="copyItem"/>
		<add key="pasteToolStripMenuItem" value="pasteItem"/>
	</SubMenuSettings>

</configuration>